/* progetto Rikko */

/* tavolozza di colori:

#781D42; //rosso violetto scuro
#DE834D; //arancione
#F0D290; //giallo

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  color: #781D42; /*rosso violetto scuro*/
}

a {
  text-decoration: none;
}

/* header */

.header {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 3;
}

.logo {
  display: block;
  text-align: center;
  margin: auto;
  padding: 10px;
  border-bottom: 5px solid #F0D290; /*giallo*/
}

/* menu */

#hamburger {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  background-color: white;
}

#menu {
  background-color: white;
}

/* menu lines */

.menu-line {
  padding: 20px 20px;
  font-size: 30px;
  text-align: center;
  background-color: white;
}

.menu-line a {
  text-decoration: none;
}

.menu-show {
  display: block;
}

.menu-show li {
  list-style-type: none;
}

.menu-hide {
  display: none;
}

/* slide show */

.my-slides {
  display: none;
}

.my-image {
  vertical-align: middle;
  width: 100%;
  height: 300px;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  top: 100px;
}

/* text on images */
.text-slide {
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: white;
}

.slide-5 {
  color: black;
}

/* Next & previous buttons */
#prev, #next {
  cursor: pointer;
  position: absolute;
  top: 0%;
  width: auto;
  padding: 138px 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */

#next {
  right: 0;
}

#prev:hover, #next:hover {
  background-color: rgb(0, 0, 0, 0.5);
}

/* The dots */

.dot-block {
  position: absolute;
  bottom: -30px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #717171;
}

/* section presentation */

.presentation {
  margin-top: 150px;
}

.title-h1 {
  text-align: center;
  padding: 20px 5px;
}

.title-h2 {
  text-align: center;
  padding: 20px 20px 40px 20px;
}

.paragraph {
  padding: 10px 20px;
  font-size: 25px;
}

.img-first-page {
  width: 100%;
}

.interval {
  width: 80%;
  height: 20px;
  margin: 30px auto 40px auto;
  text-align: center;
}

.interval-show {
  width: 80%;
  height: 20px;
  margin: 30px auto 40px auto;
  text-align: center;
}

.btn{
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  color: #781D42; /*rosso violetto scuro*/
  border: 1px solid #F0D290; /*giallo*/
}

.btn:active {
  background-color: #F0D290; /*giallo*/
}

.btn:hover {
  background-color: #F0D290; /*giallo*/
}

/* page presentation.html */

.about {
  padding-top: 160px;
}

.img-cover {
  width: 100%;
}

/* page service */

.img-service {
  width: 100%;
}

.positioning {
  width: 80%;
  position: relative;
  left: 10px;
  top: -20px;
  padding: 10px;
  background-color: white;
  font-size: 20px;
  border: 3px solid #DE834D; /*arancione*/
}

/* section gallery */

.container-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.img-grid {
  width: 45%;
  cursor: pointer;
}

#gallery {
  display: none;
  position: fixed;
	z-index: 999;
	padding-top: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 0.7);
}

.modal-content {
	position: relative;
	background-color: #000000;
	margin: 20px auto;
	padding: 0;
	width: 90%; 
	height: 300px; 
}

/*  il simbolo della croce per chiudere la galleria  */

.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover, .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  width: 100%;
  height: 300px;
}

.cursor {
  cursor: pointer;
}

/* pulsanti next e previous */

#prev-grid, #next-grid {
  cursor: pointer;
  position: absolute;
  top: 50px;
  width: auto;
  padding: 138px 20px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
}

/* posizione del pulsante next */

#next-grid {
  right: 0;
  border-radius: 3px 0 0 3px;
}

#prev-grid:hover, #next-grid:hover {
  background-color: rgb(0, 0, 0, 0.8);
}

/* tarif */

.table-price {
  margin: auto;
  width: 80%;
  background-color: #F0D290; /*giallo*/
}

th {
  padding: 10px;
  font-size: 20px;
}

td {
  padding : 10px 20px;
  font-size: 15px;
  text-align: center;
}

.additional-cost {
  padding: 20px;
  width: 70%;
  margin: auto;
  border: 3px solid #DE834D; /*arancione*/
}

/* form section - contact */

.text-form {
  width: 80%;
  margin: 20px auto;
}

.text-form-center {
  text-align: center;
  margin: 10px;
}

.container-form {
  width: 80%;
  margin: auto;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  height: 30px;
}

label {
  display: block;
}

.data-block {
  width: 45%;
  margin: 0 5px;
}

.date-flex {
  display: flex;
  justify-content: space-between;
}

textarea {
  display: block;
  width: 100%;
  height: 100px;
  margin-bottom: 15px;
}

.red-point {
  color: red;
}

.input-invia {
  background-color: #ffffcc;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  margin: 5px auto 20px auto;
}

.map {
  text-align: center;
  margin-bottom: 20px;
}

.map img {
  width: 80%;
}

/* footer */

footer {
  background-color: #781D42; /*rosso violetto scuro*/ 
}

.center-img {
  text-align: center;
  padding-top: 20px;
}

.contanier-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 20px;
  padding: 20px 10px;
}

.list-footer, .contact-footer {
  width: 100%;
  padding: 20px;
}

.footer-line {
  color: #F0D290; /*giallo*/
  list-style-type: circle;
  padding: 8px 0;
}

.footer-line a {
  color: #F0D290; /*giallo*/
  text-decoration: none;
}

.footer-text {
  color: #F0D290; /*giallo*/
  padding: 5px;
  text-align: center;
}

/*screen bigger than 768 px */
@media screen and (min-width: 768px) { 
  #hamburger {
    display: none;
  }
  .menu-hide {
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
    list-style-type: none;
  }
  .menu-line {
    width: 170px;
    margin-top: 5px;
    padding: 1px 20px;
    border-style: none;
    font-size: 20px;
  }
  .menu-line a:hover {
    color: #DE834D; /*arancione*/
    border-bottom: 1px solid #DE834D; /*arancione*/
  }
  .my-image {
    height: 450px;
  }
  #prev, #next {
    padding: 213px 40px;
  }
  .title-h1 {
    font-size: 40px;
  }
  .paragraph {
    width: 50%;
    line-height: 50px;
    margin: auto;
  }
  .img-first-page {
    width: 50%;
  }
  .container-flex-1 {
    display: flex;
    justify-content: space-between;
  }
  .container-flex-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .interval {
    display: none;
  }
  .list-footer, .contact-footer {
    width: 50%;
  }
  .center {
    text-align: center;
    padding-top: 20px;
  }
  .img-service {
    width: 50%;
  }
  .positioning {
    width: 30%;
    top: -30px;
    left: 200px;
  }
  .modal-content {
    width: 60%;
    height: 400px;
  }
  .mySlides {
    width: 100%;
    height: 400px; 
  }
  #prev-grid, #next-grid {
    padding: 187px 50px;
  }
  .additional-cost {
    width: 50%;
  }
  .input-invia {
    width: 200px;
    height: 50px;
    font-size: 20px;
  }
}

/*screen lower than 400 px */
@media screen and (max-width: 400px) {
  .logo {
    font-size: 25px;
  }
}